# Django Environment
DJANGO_ENV=development
DEBUG=True

# Django Secrets (Do not put real passwords here)
SECRET_KEY=insert_secret_key
# Postgres parameters
DB_NAME=insert_db_name
USER_NAME=insert_db_username
USER_PASSWORD=insert_db_user_password
DB_PORT=

# Django Settings
# delimit with comma (value1,value2,value3)
ALLOWED_HOSTS=insert_hosts
# leave empty for local development
CORS_ALLOWED_ORIGINS=insert_origins
# for Django Admin
CSRF_TRUSTED_ORIGINS=https://api.skilltrainer.org